.detailContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 75vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.imgContenedor{
    width: 30%;
    height: 100%;
}

.imgContenedor img {
    width: 100%;
}

.detalleContenedor{
    color: yellow;
}

.buttonContenedor small{
    color: yellow;
    font-size: 1.2rem;
}

