.CartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    height: auto;
    width: auto;
}

.CartTitle{
    position: absolute;
    top: 15rem;
    font-size: 8rem;
}

.CartTotal{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2rem;
}

.CartProducts{
    display: flex;
    color: yellow;
    text-align: center;
}

.CartButtons{
    display: flex;
}
