.ItemFilter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 75vh;
    height: auto;
    width: 100%;
    padding: 2rem 2rem;
  }