.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25vh;
    width: 100%;
}


.titulo {
    color: yellow;
    font-size: 4rem;
}

