.Header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 25vh;
    width: 100%;
    background-image: url(./banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}


.Header h1 {
    position: absolute;
    top: 15%;
    color: blueviolet;
    font-size: 4rem;
}

.navBar{
    display: flex;
    justify-content: space-around;
}

.navBar li {
    margin: 1rem 2rem;
    text-align: left;
    color: white;
    list-style: none;
}

.navBar li a{
    color: yellow;
}