.navContenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0 ;
}

.navBar .Link {
    margin: 1rem 2rem;
    text-align: left;
    color: white;
    list-style: none;
    color: yellow;
}
