.navContenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0 ;
}

.navBar .Link {
    margin: 1rem 2rem;
    text-align: left;
    color: white;
    list-style: none;
    color: yellow;
}

.cart{
    position: fixed;
    right: 1%;
    top: 15%;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.iconCart{
    position: absolute;
}

.totalProd{
    position: absolute;
    bottom: 0;
    color: antiquewhite;
}