.App{
  background-image: url(./components/Header/fondoGuitarra.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contenedor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: aquamarine;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 2rem 5rem;
}
